body {
    background-color: lightgray;
}

h1 {
    text-align: center;
    font-size: 300%;
}

.login {
    background-color: lime;
    margin-top: 25px;
    font-size: 120%;
    width: 14%;
    margin-left: 43%;
    margin-right: 43%;
    padding: 6px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-radius: 5%;
    font-weight: bold;
}

.login:hover{
    background-color: rgb(2, 189, 2);
}

p {
    text-align: center;
    font-style: italic;
}

img {
    display: block;
    margin: auto;
    margin-top: 8%;
}

.controlsDiv {
    text-align: center;
    display: flex;
    margin-top: 2%;
    margin-left: 44.25%;
}

.controls {
    background-color:cornflowerblue;
    width: 5%;
    padding: 6px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-radius: 5%;
    font-size: x-large;
    font-weight: bold;
    margin-left: 1%;
    margin-right: 1%;
}

.controls:hover{
    background-color: rgb(76, 111, 176);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    cursor: default;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
  }

  .sidenav .closebtn:hover {
    color: #f1f1f1;
  }

  .colorpicker {
    background-color: black;
    cursor: pointer;
  }

  .update {
    background-color: #818181;
    padding: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-radius: 5%;
    font-weight: bold;
  }
  
  .update:hover {
    background-color: #f1f1f1;
  }

  .preset {
    padding: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-radius: 5%;
    font-weight: bold;
    width: 45%;
  }

  #preset1 {
    background-color: rgb(22, 21, 21);
    color: rgb(2, 189, 2);
  }

  #preset2 {
    background-color: lightgray;
    color: cornflowerblue;
  }

  #preset3 {
    background-color: rgb(114, 4, 4);
    color: rgb(85, 85, 85);
  }

  #preset4 {
    background-color: white;
    color: black;
  }

  #preset5 {
    background-color: turquoise;
    color: magenta;
  }

  #preset6 {
    background-color: pink;
    color: red;
  }